#bme-server-panel {
    padding-left: 30px;
}

#bme-server-panel p {
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}

#bme-server-panel>div {
    display: flex;
    gap: 10px;

    margin-bottom: 10px;
}

#bme-server-panel img {
    width: 30px;
    height: 30px;
    transition: 0.2 all;
    border-radius: 0px;
    cursor: pointer;
    transform: scale(1);
    transition: 75ms ease-in;
}

#bme-server-panel img:hover {
    border-radius: 5px;
    background: #ffffff10;
}

#bme-server-panel img:active {
    background: #9c9c9c40;
    transform: scale(1.1);
}

.offline p {
    color: #b4b4b4 !important;
}

.bme-section-header {
    display: flex;
    align-items: center;

    gap: 15px;
    cursor: pointer;
}

.bme-section-header img {
    width: 30px;
    height: 30px;
}

.bme-section-body {
    display: flex;
    gap: 30px;

    height: 260px;
    transition: 250ms;
    overflow-x: hidden;
}

#bme-info-panel-arrow {
    transition: 250ms;
    transform: rotate(90deg);
}

.closed {
    transform: rotate(0deg) !important;
}

.bme-section-body::-webkit-scrollbar {
    display: none;
}

.bme-section-body dl {
    margin-bottom: 0px !important;
}

.bme-section-body dt {
    width: 120px !important;
}

.bme-section-body dd {
    padding-left: 10px;
    margin-left: 120px !important;
    padding-right: 10px;
}

.bme-red-text {
    color: #ff5555;
}

.bme-yellow-text {
    color: #ffff00;
}

.bme-green-text {
    color: #55FF55;
}

.bme-info-title {
    margin: 0;
    font-weight: 700;
}

#bme-avatar {
    margin-right: 10px;
}

.bme-highlight {
    background: #ffffff10;
}



.bme-hidden {
    display: none;
}

.bme-flex {
    display: flex;
    align-items: center;
}

.bme-grow {
    flex-grow: 1;
}

.bme-bold {
    font-weight: 600;
}

.bme-sidebar-ban-details {
    display: flex;

    gap: 25px;
    padding-right: 25px;
}

#bme-server-panel a {
    color: inherit;
    transition: 75ms;
}

#bme-server-panel a:hover {
    color: #1185ec;
}


.bme-avatar-container {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: visible !important;
}

.bme-avatar-placeholder {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    overflow: visible;
}

.bme-avatar-placeholder>div {
    width: 50px;
    height: 50px;
    position: relative;
    background: radial-gradient(circle, #000000 0%, #00000000 110%);
    ;
}

.bme-avatar-identifier {
    width: 50px;
    height: 50px;
    display: block;
    transition: 150ms;
    transform-origin: top left;
    background: radial-gradient(circle, #ffffff 0%, #00000000 200%);
}

.bme-zoomable-avatar>div:hover .bme-avatar-identifier {
    transform: translateX(50px) scale(4);
    border: 1.25px solid transparent;
    position: relative;
    z-index: 10000;
}

.bme-alert-element {
    height: 34px;
    background: transparent;
}

.bme-alert-element>a {
    height: 34px;
    padding: 0px 10px;
    margin: 0px 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 2px;
    text-decoration: none;

    opacity: 0.5;
    transition: 75ms;
}

.bme-alert-element p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.bme-alert-element a:hover {
    background: #ffffff10;
    text-decoration: none;
    opacity: 0.85;
}

.bme-alert-element a:active {
    text-decoration: none;
    opacity: 1;
}

.bme-alert-element a:focus {
    text-decoration: none;
}

.bme-green-change {
    border-color: #55ff55 !important;
    background-color: #55ff5540 !important;
}
.bme-red-change {
    border-color: #ff5555 !important;
    background-color: #ff555540 !important;
}





/** BM NATIVE*/
.css-h1lc4m dt {
    float: left;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}